  

  .phone-case {
    box-shadow: inset 3px 3px 8px #9a9a9a, inset 0 0 3px #e6e6e6, inset -3px -3px 8px 0px #cecece;
    border-radius: 50px;
    background: #ebebeb;    
    width: clamp(16.5rem,21vw,68rem);
    height: clamp(32rem,39vw,65rem);
    padding: 0.8rem;

  }

  .phone-container-inner {
    position:relative;
    background:#fff;
    border-radius:45px;
    overflow:hidden;
    height: 100%;
    display: flex;
    justify-content: center;
  }


  @media screen and (max-width: 768px)
{

    .phone-case {
        width: 19.8rem;
        height: 38rem;
    }
}