@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lora:wght@400;500;600;700&family=Montserrat:wght@500;700&family=Poppins:wght@500;700&display=swap');

.App__container {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    height: auto;
    background: #839CF4;
    flex-direction: column;
    min-height: 100vh;
}

.App__sectionOne{
  color: rgb(239, 230, 244);
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  background: #839CF4;
}


.App__sectionOneRight{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #839CF4;
  overflow: hidden;
  height: 100vh;
  padding: 4rem;
}


.App__sectionOneLeft{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #565BDD;
}

.App__sectionOneLeftChunk{
  line-height: normal;
  background-color: #839CF4;
}

.App__sectionOneLeft h1{
  font-family: 'Lora', serif;
  font-weight: 500;
  font-size: 4rem;
  color: #2B1C50;
  letter-spacing: -3px;
  background-color: aquamarine;
}

.App__sectionOneLeft p{
  font-family: 'Inter', serif;
  font-weight: 400;
  font-size: 1.2rem;
  width: 100%;
  color: #3D2E7C;
  line-height: 1.9rem;
  font-family: 'Inter', sans-serif;
background-color: antiquewhite;
}


.App__sectionOne button{
  appearance: button;
  backface-visibility: hidden;
  background-color: #565BDD;
  border-radius: 55px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  /* cursor: url('https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png') 4 4,
  auto; */
  cursor: pointer;
  font-size: 100%;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 60%;
  padding: 1.2rem;
  font-size: 1.2rem;
  font-family: 'Inter', sans-serif;


}

.App__sectionOne button:hover{
  background-color: #5000fd;
}

