@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lora:wght@400;500;600;700&family=Montserrat:wght@500;700&family=Poppins:wght@500;700&display=swap');

body {
  background-color: rgb(255, 255, 255);
}

.App__container {
  font-family: 'Inter', sans-serif;
  height: 100vh;

}

.App__Main{
  color: rgb(239, 230, 244);
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
  background: #839CF4;
}


.App__MainRight{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: linear-gradient(#b6c6ff, #839CF4);
}

.App__MainLeft{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: clamp(3.5rem, 6vw, 9rem);
  padding-right: 1.5rem;
  background: linear-gradient(#b6c6ff, #839CF4);
}


.App__MainLeft h1{
  font-family: 'Lora', serif;
  font-weight: 500;
  font-size: clamp(3.5rem, 5vw, 4rem);
  color: #2B1C50;
  letter-spacing: -3.5px;
  line-height: clamp(4rem, 5vw, 5rem);
  margin: 0;
}

.App__MainLeft p{
  font-family: 'Inter', serif;
  font-weight: 400;
  font-size: 1.2rem;
  font-size: clamp(1rem, 1.5vw, 1.2rem);
  width: 100%;
  color: #3D2E7C;
  line-height: clamp(1.5rem, 2.3vw, 1.9rem);
  font-family: 'Inter', sans-serif;
}


.App__MainLeft button{
  appearance: button;
  backface-visibility: hidden;
  background-color: #565BDD;
  border-radius: 55px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: clamp(14rem, 60%, 20rem);
  padding: clamp(1.3rem, 1.4vw, 4rem);
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: clamp(1rem, 1.5vw, 1.2rem);
  font-family: 'Inter', sans-serif;
  margin-top: 0.8rem;
}


.App__Black{
  background-color: black;
}

.App_BlackBlock{
  height: 100vh;
  display: grid;
  grid-template-columns: 60% 40%;
}

.App_BlackLeft{
height: 100%;
display: flex;
justify-content: center;
align-items: center;
padding: 5vw;
}

.App__Blacktext{
}

.App__Blacktext h1{
  font-family: 'Lora', serif;
  font-weight: 500;
  font-size: clamp(3.5rem, 4vw, 4rem);
  color: #ffffff;
  letter-spacing: -3.5px;
  line-height: clamp(4rem, 5vw, 5rem);
  margin: 0;
  margin-bottom: 2rem;
  color: #dbdbff;
}









@media screen and (max-width: 768px)
{
  .App__Main{
    color: rgb(239, 230, 244);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }

  
  .Frame {
    height: 100vh;
    width: auto;
  }

  .App__MainLeft{
    padding-right: 3rem;
    background: #839CF4;
    background: #b6c6ff;

  }

  .App__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 90vw;
  }

  .App__MainLeft h1{
    font-size: clamp(2.75rem, 10vw, 3.8rem);
    line-height: clamp(1rem, 12vw, 4rem);

  }

  
.App__MainRight{
  padding-bottom: 6rem;
}

.App__MainLeft button{
  display: none;
}
}


/* .App__gradient{
  position: absolute;
  height: 20vh;
  background: linear-gradient(#ffffff00 4%, rgba(169, 167, 255, 0), rgba(143, 140, 255, 0.4105),  rgba(81, 77, 255, 0.7053), #000000);
  z-index: 50;
  bottom: 0;
  width: 100rem;
  }
   */